#puzzleArea, #table {
	display: grid;
	grid-template-columns: repeat(4, 150px);
	grid-template-rows: repeat(4, 75px);
	width: 600px;
	height: 300px;
	border: 2px dashed #FFB6C1; /* Pastelowy różowy */
	background-color: #FFE4E1; /* Jasny róż */
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); /* Pastelowy cień */
}

#map, #puzzleArea {
	width: 600px;
	height: 300px;
	border: 2px dashed #FF69B4; /* Intensywny różowy */
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(255, 182, 193, 0.4);
}

#rasterMap {
	width: 300px;
	height: 150px;
	border: 2px solid #FFCCCB; /* Bardzo jasny róż */
	border-radius: 8px;
	background-color: #FFF0F5; /* Pastelowy róż */
	box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2);
}

#table canvas, #puzzleArea canvas {
	width: 150px;
	height: 75px;
	border: 1px solid #FFC0CB; /* Różowy kontur */
	border-radius: 6px;
	background-color: #FFF5F7; /* Bardzo jasny róż */
	box-shadow: 0 2px 5px rgba(255, 182, 193, 0.3);
}

.puzzleContainer {
	display: flex;
	gap: 15px;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: #FFD1DC; /* Pastelowy róż */
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(255, 182, 193, 0.4);
}
